configuration{
    modi: "drun";
    icon-theme: "Adwaita";
    show-icons: false;
    terminal: "wezterm";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " Apps ";
}

//@theme "catppuccin-frappe"

@theme "/home/mashu/.local/share/rofi/themes/catppuccin-frappe.rasi"
