configuration{
    modi: "drun";
    icon-theme: "Adwaita";
    show-icons: false;
    terminal: "kitty";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " Apps ";
}

@theme "/home/mashu/dotfiles/.local/share/rofi/themes/rosepinekai.rasi"
