/* originally from: https://github.com/NOOBDY/dotfiles/blob/master/waybar/style.css */
* {
    border: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "CozetteHiDpi","mplus12";
    font-size: 13px;
    min-height: 0;
    padding: 0 0;
    margin: 0px;
    /*margin-bottom: 0px;*/
}

window#waybar {
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: #191c25;
    border-top-right-radius:0rem;
    border-bottom-right-radius:0rem;
    border-bottom-left-radius:0.1rem;
    border-top-left-radius:0.1rem;
    opacity: 1;
    border-left: 0px solid rgba(25, 28, 37, 0);
    /*color: rgba(0, 0, 0, 0);*/
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding:  10px 0px;
    background-color: transparent;
    color: #b5b4c9;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
}

#workspaces button.persistent {
    padding:  10px 0px;
    background-color: transparent;
    color: #b5b4c9;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #191c25;
    color: #659ea2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: #191c25;
}

#mode {
    background-color: #cf8164;
    color: #191c25;
    /*font-weight:bold;*/
    margin: 0 4px;
}

#memory,
#pulseaudio,
#cpu,
#temperature{
    padding: 0 0px;
    background-color:#191c25;
    color:#a18daf;
    /*font-weight:bold;*/
}

#window{
    background-color:#191c25;
    color:#b5b4c9;
    padding: 100px 20px;
}
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#network,
#clock {
    color: #659ea2;
    font-size: 13px;
}

@keyframes blink {
    to {
        background-color: #f5f5f5;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f5f5f5;
    color: #121214
}

#pulseaudio {
    /*background-color: #f5f5f5;*/
    color: #a18daf;
}

#pulseaudio.muted {
    background-color: #191c25;
    color: #ab924c;
    font-weight: normal;
}

#custom-media {
    background-color: #121214;
    margin: 0 4px;
}

#temperature.critical {
    background-color: #fd6883;
}

#tray {
    color: #f5f5f5;
    padding-bottom:10px;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

